configuration {
  display-run: "Rakstīt:";
  display-drun: "Aplikācijas:";
  display-window: "Logi:";
  font: "IosevkaTerm Nerd Font 11";
  terminal: "alacritty";
  modi: "run,drun";
}

@theme "~/.config/rofi/themes/dmenu.rasi"